@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9fafb;
  color: #374151;
}

a {
  color: #6366f1; /* Înlocuiește cu culoarea link-urilor din mockup */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #4f46e5;
}

.btn {
  @apply font-semibold py-2 px-4 rounded;
}

.btn-primary {
  @apply bg-indigo-600 hover:bg-indigo-700 text-white;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-gray-700;
}
