@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9fafb;
  color: #374151;
}

a {
  color: #6366f1; /* Înlocuiește cu culoarea link-urilor din mockup */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #4f46e5;
}
